body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #97dce2;
    width: 30%;
    height: 450px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #030303;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
   font-style: bold;
   position: relative;
   font-size:20px;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #830083;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: rgb(27, 221, 235);
    color: rgb(5, 5, 5);
  }

  .kids-form {
    background-color: #92d7dd;
    width: 20%;
    height: 200px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 4px;
    text-align: center;
  }

  .create-button {
    background-color: #00acb0;
    border-radius: 4px;
    color: #030303;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
  }

  .invite-button {
    background-color: #00acb0;
    border-radius: 4px;
    color: #030303;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
  }

  .add-button {
    background-color: #00acb0;
    border-radius: 4px;
    color: #030303;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
    
  }

  .friend-button {
    background-color: #00acb0;
    border-radius: 4px;
    color: #030303;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
    
}

.calenderDiv {
  height: 500px;
}

.register-kid-button {
  background-color: #00acb0;
  border-radius: 4px;
  color: #030303;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
 
}


.btn-group button {
  background-color: rgb(13, 212, 219); /* Green background */
  border: 1px solid rgb(8, 8, 8); /* Green border */
  color: rgb(8, 8, 8); /* White text */
  font-size: 20px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #b811af;
}